.card a:hover{
    text-decoration: none;
}
.card-deck a.card:hover{
    text-decoration: none;
}
.news-list li::before{
    content: "·";
    color: white;
}


@media screen and(max-width:560px){
    #ad-carousel h1{
        font-size: 2rem;
    }
    #ad-carousel .btn { 
        margin-top: 0 !important;
    }
}